.postWrapper {
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    max-width: 100%;
    padding: 70px 0 0;
}

.postContainer {
    width: 700px;
    padding: 20px 100px 100px 100px;
    margin: 30px auto 0;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    text-align: center;
}

.Container {
    padding: 20px 10px;
}

.Cntainer input {
    width: 500px;
    line-height: 20px;
}

.Container input, textarea {
    border: 1px solid #c8c8c8ee;
    border-radius: 5px;
}

button, input, textarea {
    cursor: pointer;
    padding: 5px 5px;
}

.addTagButton {
    /* border: solid 1px #c8c8c8ee; */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffffee;
    background-color: rgb(96, 188, 230);
    margin: 0 10px;
}

.tagButton {
    background-color: #d9d9d9;
    color: black;
    margin: 10px;
    transition: all .25s;
}
.tagButton:hover {
    background-color: #c1c1c1;
}