body {
    background-color: #f7f7f7;
}

.topWrapper {
    background-color: #ffffff;
    padding: 70px 0 0;
}

.topContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 700px;
    position: relative;
    margin: 0 auto;
    height: 250px;
}

.topContainer img {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    opacity: .6;
}

.topLogo {
    color: #4FBBF8;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}

/* card部分のcss */
.cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* justify-content: center; */
    padding: 0 30px 30px;
    /* height: calc(100vh - 170px); */
}

.mainWrapper h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-weight: normal;
    color: #6e6e6e;
}

.mainWrapper a {
    display: inline;
}

.cardContainer {
    background-color: #ffffff;
    width: 450px;
    padding: 20px;
    border-radius: 15px;
    height: 300px;
    margin: 40px 30px;
    /* margin: 0 100px; */
    color: #1b1b1b;
    text-decoration: none;
    transition: all .1s;
}

.cardContainer:hover {
    /* background-color: #fff; */
    /* opacity: 70%; */
    /* outline: solid 10px #d8d8d8; */
    /* outline-style: ; */
    box-shadow: 0px 0px 16px 1px #cbcbcb;
}

.card {
}

.cardTitle {
    width: 400px;
    height: 220px;
    border: 4px solid #2a8de3;
    border-image: linear-gradient(to right, #5b2ae3 0%, #16c0db 100%);
    border-image-slice: 1;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    margin: 0 auto 20px;
    /* background-image: url("src/components/img/5949650_3081783.jpg"); */
}

.cardTitle a {
    display: block;
}

.cardHeader {
    color: rgb(78, 78, 78);
    text-decoration: none;
    text-align: center;
    font-size: .7rem;
    margin: 0 auto 20px;
}

.cardHeader span {
    font-size: 28px;
}

.tagButton {
    padding: 10px 20px ;
    border-radius: 40px ;
    border: none;
    background-color: #fff;
}


.editDeleteContainer {
    float: right;
}
.editPostButton {
    color: rgb(0, 0, 0);
    background-color: #c3e9ff;;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    height: 35px;
    width: 60px;
    transition: all .1s;
}

.deletePostButton {
    color: rgb(0, 0, 0);
    background-color: rgb(212, 212, 212);
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    height: 35px;
    width: 40px;
    transition: all .1s;
}

.editPostButton:hover, .deletePostButton:hover {
    box-shadow: 0px 0px 10px 0px #cbcbcb;
}

/* footer部分のcss */
.footer {
    text-align: center;
    padding: 10px 0 20px 0;
    border-top: 1px solid rgb(230, 230, 230);
    /* position: absolute;
    bottom: 0; */
}


/* cardのtagと編集ボタン、削除ボタン部分 */
.tagButtonContainer {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.tagContainer {
    flex-basis: 80%;
    height: 100%;
    align-items: center;
}

.tagList {
    list-style: none;
    margin: 0;
    height: 100%;
    overflow: scroll;
}
.tagList li {
    display: inline-block;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 15px;
    padding: 0.5rem 10px;
    margin:0 5px 5px 0;
}

.editDeleteContainer {
    display: flex;
    flex-basis: 20%;
    align-items: center;
}