.wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 90px 100px 0;
    /* padding: 0 100px 0; */
    width: 800px;
    /* display: flex;
    align-items: center; */
    background-color: white;
    height: calc(100vh - 200px);
}

.sectionTitle {
    font-size: 50px;
    color: #4FBBF8;
    letter-spacing: 0.05em;
}

.aboutDescription {
    text-align: left;
    /* width: 500px; */
    padding-left: 100px;
    line-height: 2.2rem;
}

.fontBold {
    font-weight: bold;
}

.themeColor {
    font-weight: bold;
    color: #3eb2f5;
    font-size: 1.1rem;
}

.aboutLogin {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #d8bafa;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}